header {
  background-color: #fc7300;
  box-shadow: #00425a 5px 5px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  justify-items: center;
  text-align: center;
}

body {
  background-color: #1f8a70;
}

h1 {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  color: #eff5fe;
  text-shadow: #00425a 5px 5px 5px;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  color: #eff5fe;
  text-shadow: #00425a 5px 5px 5px;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img {
  display: flex;
  align-items: end;
  background-image: url(img/img1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nombre {
  display: flex;
  margin: 2%;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  color: #eff5fe;
  text-shadow: #00425a 5px 5px 5px;
  text-decoration: underline;
}
.descripcion {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  color: #eff5fe;
}

.precio {
  color: rgb(194, 15, 15);
  text-align: center;
  font-size: 1.3rem;
  display: block;
}

.sku {
  font-size: 1rem;
  text-align: center;
}

.cantidad {
  font-size: 1rem;
  color: #eff5fe;
  text-align: center;
}

footer {
  background-color: #fc7300;
  box-shadow: #00425a 5px 5px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  justify-items: center;
  text-align: center;
}
